@import url('https://fonts.googleapis.com/css2?family=Exo+2&family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');
/* FONT AND COLOR FORMATTING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Fira Code", monospace;
}

h1 {
    font-size: 18vw;
    writing-mode: vertical-rl;
    display: flex;
    height: 0;
    margin: 0;
    padding: 5vh 0 0;
    white-space: nowrap;

    font-family: "Fira Sans Extra Condensed", monospace;
    letter-spacing: 3vh;
    font-weight: 600;
}

h2 {
    font-family: "Fira Code", monospace;
    font-size: 3em;
    margin: 0;
    padding: 2vw 2vw 2vw;
}

.summary {
    font-family: "Fira Code", monospace;
    font-size: .8em;
    margin: 0;
    padding: 2vw 2vw 2vw;
}

.preamble {
    font-style: italic;
}

.main, .preamble {
    font-size: 1.6vw;
    line-height: 2em;
    padding: 2vw 2vw 2vw;
    /*text-align: justify;*/
}

.sidebar {
    margin-top: auto;
    /*border: solid #425a5a;*/
    padding: 2vw 2vw 2vw;
}

/* NAVIGATION STYLING */
/* list of designs */
.design-selection ul {
    list-style-type: none;
    text-align: center;
}

/* styled bubbles for design-links */
.design-selection li a:first-of-type {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 1rem;

    margin: 2vh;

    font-size: 1.4rem;
    line-height: 1.5;
    color: white;
    background: linear-gradient(40deg, #ff8080, #1d42be);
}

.design-selection li a:first-of-type:before {
    content: "";
    /*float: left;*/
    padding-top: 100%; /* initial ratio of 1:1*/
}


/* GRID SETUP AND LAYOUT */
.page-wrapper {
    display: grid;
    grid-template-areas:
            'header header title'
            'summary preamble title'
            'nav main title'
            'nav main left'
            'footer footer footer';

    grid-template-columns: 2fr 5fr 2fr;
    /*grid-gap: 2vw;*/
}

.intro {
    display: contents;
}

.intro > header {
    display: contents;
}

.intro > header > h1 {
    grid-area: title;
}

.intro > header > h2 {
    grid-area: header;
}

.intro .summary {
    grid-area: summary;
}

.intro .preamble {
    grid-area: preamble;
}

.main {
    grid-area: main;
}

.sidebar {
    grid-area: nav;
}
