@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');
/*@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed&display=swap');*/
/* FONT AND COLOR FORMATTING */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: "Exo 2", sans-serif;
    height: 4360px;
    /*font-size: calc(.5em + .5vw);*/
}


/* GRID SETUP AND LAYOUT */
.page-wrapper {
    display: grid;
    grid: repeat(15, 280px) /  repeat(4,1fr);
}

/*.page-wrapper ::before {*/
/*    grid-row: 4 / span2;*/
/*    grid-column: 1 / -1;*/


/*    content: "";*/
/*    !*width: 100%;*!*/
/*    !*height: 100%;*!*/
/*    background-color: #0d87a4;*/
/*}*/

.intro, .intro > header {
    display: contents;
}

.main {
    display: contents;
}

.sidebar, .sidebar > .wrapper {
    display: contents;
}

.intro > header > h1 {
    z-index: 10;
    grid-row: 4 / -1;
    grid-column: 1;
}

.intro > header > h2 {
    grid-row: 2;
    grid-column: 1 / 4;
}

.summary {
    grid-row: 3;
    grid-column: 1 / 4;
}

.preamble {
    z-index: 1;
    grid-row: 4 / 6;
    grid-column: 1 / -1;
    display: grid;
    grid: repeat(4,min-content) / repeat(4,1fr);
    align-items: start;
    background-color: #0d87a4;
}
.preamble > * {
    grid-column: 2 / 4;
}


.explanation {
    grid-row: 6 / span2;
    grid-column: 2 / 4;
}



.participation {
    grid-row: 8 / span2;
    grid-column: 2 / 4;
}

.benefits {
    grid-row: 11 / span2;
    grid-column: 2 / 4;
}

.requirements {
    grid-row: 12 / span2;
    grid-column: 2 / 4;
}

.design-selection {
    grid-row: 6 / span2;
    grid-column: 4;
}

.zen-resources {
    grid-row: 12 / span6;
    grid-column: 4;
}

.design-archives {
    grid-row: 1;
    grid-column: 4;
}

footer {
    grid-row: -1;
    grid-column: 2 / 4;
}