h2 {
    text-align: center;
    margin: auto;
}


.wrapper {
    display: grid;
    grid-template-areas:
            "header header"
            "input preview";
    grid-template-columns: 1fr 1fr;
}

header {
    grid-area: header;
    margin: 0 auto;
}

.input {
    grid-area: input;
    margin: 0 auto;
}

.preview {
    grid-area: preview;
    margin: 0 auto;
}

label {
    /*margin: 0 auto;*/
    display: flex;
    alignment: left;
}

.input-entry, textarea {
    /*margin: 0 auto;*/

    /*display: ;*/
    alignment: right;
}