@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600;700&display=swap');

:root {
    --fakebook-blue: #3b5998;
    --light-border: #ececec solid 2px;
    --box-shadow: 0 10px 10px #ececec;
    --brand-image-width: 64px;
    --text-font: "Tahoma", "Lucida Grande", sans-serif;
}

body {
    font-family: var(--text-font);
    margin: 0;
    padding: 0;
}

header {
    font-family: "Titillium Web", Tahoma, "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;
    color: white;
    background-color: var(--fakebook-blue);
}

.wrapper > * > h2 {
    text-align: center;
    margin: 2vh auto;
}

.input-box, .preview-box {
    margin: 0 6vw;
    padding: 30px;
    border: var(--light-border);
    border-radius: 4px;
    box-shadow: var(--box-shadow);
}

.input-box > *:nth-child(2n) {
    background-color: #ececec;
    display: flex;
    flex: 1;
    border-color: var(--fakebook-blue);
    border-width: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
}

button {
    font-family: "Titillium Web", Tahoma, "Lucida Grande", sans-serif;
    color: white;
    background-color: var(--fakebook-blue);
    margin: 15px auto 0;
    padding: 8px;
    width: 200px;
    border: none;
    border-radius: 4px;
}

#preview-image {
    width: var(--brand-image-width);
    height: var(--brand-image-width);
    border-radius: 50%;
}
#preview-name {
    font: bold 1.1em var(--text-font);
    align-self: end;
}

#preview-date, #preview-reactions, #preview-comments, #preview-shares {
    font: normal .8em var(--text-font);
    white-space: nowrap;
}

/* GRID LAYOUTS FOR WRAPPER; INPUT; PREVIEW */

/* WRAPPER GRID */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.wrapper > header {
    grid-column: span 2;
}

/* INPUT & PREVIEW GRID */
.input-box, .preview-box {
    display: grid;
    row-gap: 32px;
    column-gap: 16px;
}

.input-box > button {
    grid-column: span 2;
}

.identity-box {
    grid-column: span 3;

    display: grid;
    grid-template-columns: var(--brand-image-width) auto;
    column-gap: 16px;
    row-gap: 4px;
}

#preview-image {
    grid-row: span 2;
}

.preview-box {
    grid-template-columns: 1fr min-content min-content;
}

#preview-content {
    grid-column: span 3;
}
