@import "https://fonts.googleapis.com/css2?family=Rubik:wght@300..900";

/* TODO
    define font sizes like suggested in
    https://css-tricks.com/rems-ems/
    px size in html selector, rem in components, em in subcomponents
    (probably don't need the last one)
    */
/* TODO
    use this file for resets, and define forms in Form component?
    */

:root {
	font-family: Rubik, Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--pure-white: #ffffff;

	--primary-color: #2c60bb;
	--secondary-color: #494949;
	--tertiary-color: #424053;
	--muted-color: #454545;
	--cancel-color: #c25252;

	--accent-color: #e55b65;
	--heading-color: rgba(0, 0, 0, 0.7);
	--text-color: #444444;
	--background-without-opacity: rgba(255, 255, 255, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	--font-color-muted: #7d7d7d;

	--font-small: 20px;
	--font-medium: 28px;
	--font-large: 40px;

	--radius-small: 8px;
	--radius-medium: 16px;
	--radius-big: 32px;

}

/* box-sizing reset from https://css-tricks.com/box-sizing/ */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}


body {
	min-height: 100vh;
	margin: 0;
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3,
p {
	font-weight: 400;
	color: var(--heading-color);
	margin: 0;
	padding: 0;
}

p {
	line-height: 1.5;
}

a:hover {
	text-decoration: underline;
}

button:focus:not(:focus-visible) {
	outline: none;
}

form {
	display: flex;
	flex-flow: column;

	align-items: center;
	justify-content: center;

	gap: 32px;
	width: 100%;
	max-width: 100%;
	height: 100%;
}

h1 {
	color: var(--font-color-muted);
	font-size: var(--font-medium);
	font-weight: 550;
}

h2 {
	font-size: var(--font-large);
	font-weight: 600;
	line-height: 1.4rem;
}

/* UTLITY CLASSES */
.shadow-small {
	filter: drop-shadow(0 2px 2px rgba(0,0,0,0.3));
}

.shadow-medium {
	filter: drop-shadow(0 4px 4px rgba(0,0,0,0.3));
}

.shadow-big {
	filter: drop-shadow(0 16px 16px rgba(0,0,0,0.3));
}


.card {
	width: 100%;
	background-color: white;
	border-radius: var(--radius-small);
	padding: 16px;
	display: flex;
	flex-flow: column;
	gap: 16px;
}

.euro {
	 font-size: var(--font-large);
	 font-weight: bold;
 }
