/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,500;1,400&display=swap');
/* CSS VARIABLES */
:root {
    --column-width: 320px;
}

/* GLOBAL RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* GENERAL STYLING */
html {
    font: 12pt "Exo 2", sans-serif;
    color: white;
    background: radial-gradient(117.38% 117.38% at 34.31% 104.44%, #b01aca 0%, #1F0078 100%);

}

/* GENERAL GRID LAYOUT */
body {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow-x: hidden;

}

.layout {
        display: grid;
}

@media (min-width: 60rem) {
    .layout {
        grid-template-columns: 1fr 1fr;
    }
}

/* FORM GRID LAYOUT */
form {
    display: grid;
    /*place-items: center;*/
    gap: 16px;
}

@media (min-width: 40rem) {
    form {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, auto);
        grid-auto-flow: row;
    }

    h2, button {
        grid-column: 1 / -1;
        text-align: center;
    }
}

/* MAKING THINGS SQUISHY */

/* LAYOUT STYLING */
.layout {
    /*border: white 2px solid;*/
    overflow: hidden;
    border-radius: 32px;
    margin: 16px;
    filter: drop-shadow(0px 12px 12px rgba(0,0,0,.5));
}

header, form {
    padding: 32px;
}

/* HEADER STYLING */
header {
    background: radial-gradient(200% 200% at 80% -20%, #b01aca 0%, #1F0078 100%);
}

header>* {
    width: 80%;
    margin: auto;
    line-height: 2.5em;
}

#logo {
    width: 40%;
    margin: 0% 25% 5%;
}

h1 {
    font: bold 1.2em 'Exo 2';
}

/* FORM STYLING */
form {
    color: dimgrey;
    background-color: white;
}

h2 {
    place-self: center;
}

.input-group {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    gap: 12px;
}

.entry {
    display: grid;
    gap: 4px;
}

label {
    font-size: .8em;
}

input, textarea {
    width: 100%;
    font-size: 1em;
    padding: 8px;
    border: 1px solid dimgrey;
    border-radius: 4px;
    resize: none;
}

#parental-consent {
    grid-column: 2;
    place-self: center;
    width: 12px;
    /*display: grid;*/
    /*grid-template-columns: auto;*/
}
