/* CSS VARIABLES */
:root {
    --brand-color: #9f0d56;
    --column-width: 300px;
    --max-width: calc(var(--column-width) * 3);
}

/* GLOBAL RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* RESPONSIVE GRID LAYOUT FOR MAIN ELEMENTS */
.container {
    display: grid;
    grid-template-columns: repeat(3, var(--column-width));
    grid-column-gap: 32px;
    grid-row-gap: 32px;

    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

form {
    display: contents;
}

.one-third {
    align-self: start;

    display: grid;
    grid-row-gap: 16px;
    align-content: start;
}

.one-third > div {
    display: grid;
    grid-row-gap: 8px;
}

@media (max-width: 959px) {
    .container {
        grid-template-columns: var(--column-width);
        align-content: start;
        justify-content: center;
        width: revert;
        height: revert;
    }

    button {
        /*grid-column: 1;*/
        grid-column: 1 / 2;

    }

    #logo {
        grid-column: 1 / 2;

        /*grid-column: 1;*/
    }
}

/* GENERAL STYLING */
html {
    font: 1em "Tahoma", sans-serif;
    color: white;
    /*overflow: hidden;*/
    letter-spacing: 1px;

    background-image: linear-gradient(to top, #0d87a4, #ff5454);
    /*background-size: cover;*/
}

/* INDIVIDUAL STYLING */
#logo {
    width: calc(var(--column-width) * .5);
    justify-self: center;
    grid-column: 1 / -1;
}

button {
    height: calc(var(--column-width) * .3);
    width: calc(var(--column-width) * .3);

    background-image: linear-gradient(to top, black, black);
    border: none;
    font: bold 1em "Tahoma", sans-serif;
    border-radius: 50%;
    color: white;

    justify-self: center;
    grid-column: 1 / -1;
}

